body{
    background-color: gray;
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;

}

.results{
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.results-score{
    margin-left: .1rem;
    font-size: 1rem;
    color: black;
}

.results-selection{
    opacity: 0.1;
}

.results-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}